.landingPageContainer{
    width: 100vw;
    height: 100vh;
    background: url("../src/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nav h2{
    font-style: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.landingPageContainer nav .navlist{
    display: flex;
    gap: 30px;
}

.navlist p, .navlist .p {
    cursor: pointer;
}



.LandingMainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    height: 80vh;
}

.LandingMainContainer .info{
    font-size: 1.6rem;
}
.landingPageContainer .info p{
    margin-top: 10px;
}
.LandingMainContainer .info .btn{
    background-color: #d97500;
    width: fit-content;
    margin-top: 1.4rem;
    padding: 12px 16px;
    border-radius: 14px;
}

.LandingMainContainer .info .btn a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.landingPageContainer .img img{
    height: 70vh;
    width: auto;
}



.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.leftPanel h2{
    margin-bottom: 20px;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}


/* -----------media query ---------- */

@media (max-width:800px){
    .meetContainer{
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }
    .leftPanel{
        margin-top: 70px;
    }
    .leftPanel h2{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    
    .rightPanel{
        margin-top: 20px;
    }

    .rightPanel > img{
        width: 80vw;
        margin-top: 20px;
    }
    .leftPanel, .rightPanel{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 768px){
    
    .landingPageContainer{
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .LandingMainContainer{
        flex-direction: column;
        margin-top: 40px;
    }
    .landingPageContainer .img img{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    
    .LandingMainContainer .info{
        font-size: 1.3rem;
    }
    .LandingMainContainer .info .btn{
        padding: 8px 12px;
    }
    .LandingMainContainer .info .btn a{
        font-size: 1.2rem;
    }
    .landingPageContainer nav h2{
        font-size: 1.4rem;
    }
    .landingPageContainer nav .navlist{
        gap: 15px;
    }
}

@media (max-width: 560px){
    .none{
        display: none;
    }
    .landingPageContainer nav .navlist{
        gap: 10px;
    }
}